-# Pass me options: `stylesheets`, `main`
!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title= meta[:page_title]
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'author', content: meta[:author]}
    %meta{name: 'description', content: meta[:page_description]}

    - if ENV['FACEBOOK_APP_ID']
      %meta{property: 'fb:app_id', content: ENV['FACEBOOK_APP_ID']}
    %meta{property: 'og:description', content: meta[:page_description]}
    %meta{property: 'og:type', content: 'article'}
    %meta{property: 'og:site_name', content: 'The Huffington Post'}
    %meta{property: 'og:url', content: "http://elections.huffingtonpost.com/#{output_path[0 .. -5]}"}
    %meta{property: 'og:image', content: "http:#{meta[:social_image_url]}"}

    %meta{property: 'article:publisher', content: 'HuffingtonPost'}
    %meta{property: 'article:author', content: meta[:author]}

    %meta{property: 'twitter:card', content: 'summary_large_image'}
    %meta{property: 'twitter:creator', content: meta[:author_twitter]}

    -# For our own benefit:
    %meta{property: 'suggested-tweet', content: meta[:twitter_desc]}

    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic'}
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    - for stylesheet in (stylesheets || [])
      %link{rel: 'stylesheet', href: stylesheet}

  %body{class: body_class}
    != render(partial: 'topbar')

    != main

    %footer
      %p Sources: The Associated Press, HuffPost Pollster
      %p By Adam Hooper, Hilary Fung, Shane Shifflett, Nicky Forster and Alissa Scheller

      -if pubbed_dt
        -if updated_dt
          %p= "Page published #{pubbed_dt} and last updated #{updated_dt}"
        -else
          %p= "Page published #{pubbed_dt}"

      %p
        :plain
          &copy; 2016 TheHuffingtonPost.com, Inc. &bull;
          <a href="http://privacy.aol.com">Privacy</a> &bull;
          <span class="hpdatalink"><a href="http://data.huffingtonpost.com">HuffPost Data</a></span> &bull;
          Part of <strong>HPMG News</strong>
