-# Pass me options: `stylesheets`, `main`
!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title HuffPost 2016 Election Coverage: #{hed}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'author', content: 'HuffPostPolitics'}
    %meta{name: 'description', content: meta_description}

    - if ENV['FACEBOOK_APP_ID']
      %meta{property: 'fb:app_id', content: ENV['FACEBOOK_APP_ID']}
    %meta{property: 'og:description', content: social_description}
    %meta{property: 'og:type', content: 'article'}
    %meta{property: 'og:site_name', content: 'The Huffington Post'}
    %meta{property: 'og:url', content: "http://elections.huffingtonpost.com/#{output_path[0 .. -6]}"}

    - if social_image_url =~ /^https?:\/\//
      %meta{property: 'og:image', content: social_image_url}
      %meta{name: 'twitter:image', content: social_image_url}
    - else
      / og:image and twitter:image omitted because social_image_url is a relative URL

    %meta{property: 'article:publisher', content: 'HuffingtonPost'}
    %meta{property: 'article:author', content: 'HuffPostPolitics'}

    %meta{name: 'twitter:card', content: 'summary_large_image'}
    %meta{name: 'twitter:creator', content: 'HuffPostPol'}
    %meta{name: 'twitter:title', content: "HuffPost 2016 Election Coverage: #{hed}"}

    -# Our own JS uses this one
    %meta{property: 'suggested-tweet', content: suggested_tweet}

    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic'}
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    - for stylesheet in (stylesheets || [])
      %link{rel: 'stylesheet', href: stylesheet}

  %body{class: body_class}
    != render(partial: 'topbar')

    != main

    %footer
      %p Sources: The Associated Press, HuffPost Pollster
      %p By Adam Hooper, Hilary Fung, Shane Shifflett, Nicky Forster and Alissa Scheller

      - if pubbed_dt
        - if updated_dt
          %p= "Page published #{pubbed_dt}, last updated #{updated_dt}"
        - else
          %p= "Page published #{pubbed_dt}"

      %p
        :plain
          &copy; 2016 TheHuffingtonPost.com, Inc. &bull;
          <a href="http://privacy.aol.com">Privacy</a> &bull;
          <span class="hpdatalink"><a href="http://data.huffingtonpost.com">HuffPost Data</a></span> &bull;
          Part of <strong>HPMG News</strong>
