.race-day
  %h2
    %a{target: '_blank', href: '/2016/primaries/2016-02-09'}= race_day.title
  - if !race_day.today?
    %h4.date= race_day.date.strftime('%B %-d')
  %p.intro= race_day.body
  %p.tease-link.when-race-day-future.when-race-day-past
    %a{target: '_blank', href: "/2016/primaries#state-race-days-by-date"} See the election calendar
  %p.tease-link.when-race-day-present
    %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See live updates

  - race_day.races.each do |race|
    .race{id: race.id, 'data-party-id': race.party_id}
      .race-name
        %h3= race.title
        %p
          Delegates: #{race.n_delegates}
      %table.t-pollster
        %thead
          %tr
            %th.candidate Candidate
            %th.pollster.when-race-day-future
              .long-table-heading Polling Average
            %th.n-votes.when-race-day-past.when-race-day-present Votes
            %th.n-votes-pct.when-race-day-past.when-race-day-present %
        %tbody
          - race.candidate_races.each do |candidate_race|
            - candidate = candidate_race.candidate
            %tr{'data-candidate-id': candidate.id, class: "#{candidate_race.leader? ? 'leader' : ''} #{candidate_race.winner? ? 'winner' : ''}"}
              %td.candidate
                %img{src: image_path("#{candidate.slug}.png"), alt: ''}
                = candidate.full_name
              %td.pollster.when-race-day-future
                - if candidate_race.poll_sparkline && !candidate_race.poll_sparkline.empty?
                  .sparkline!= candidate_race.poll_sparkline.to_svg
                %span.percent
                  - if candidate_race.poll_percent.nil?
                    N/A
                  - else
                    = "#{format_percent_or_nil(candidate_race.poll_percent)}%"
              %td.n-votes.when-race-day-past.when-race-day-present= format_int(candidate_race.n_votes)
              %td.n-votes-pct.when-race-day-past.when-race-day-present= "#{format_percent_or_nil(candidate_race.percent_vote)}"
      .footnotes
        %a.footnotes-for-pollster.when-race-day-future{target: '_blank', href: "//elections.huffingtonpost.com/pollster/#{race.pollster_slug}"} Source
        %a.footnotes-for-race-day.when-race-day-present.when-race-day-past{target: '_blank', href: race.href} Detailed results

%script{src: '/2016/javascripts/pym.min.js'}
%script
var pymChild = new pym.Child();
%script{src: asset_path('primary-right-rail.js')}
%script{src: asset_path('ga.js')}
%script{src: asset_path('stats.js')}
