.delegate-summary
  %a.race-anchor{name: 'summary'} 

  %h2 It&rsquo;s All About The Delegates

  %p
    Our intrepid contenders are trying to win enough delegates to
    clinch a nomination at their party conventions in July.

  %p
    Here&rsquo;s a breakdown of each state&rsquo;s delegates.

  .party-delegate-summaries
    - race_day.party_race_days.each do |party_race_day|
      .party-delegate-summary{'data-party-id': party_race_day.party_id}
        %h3= party_race_day.party_name
        %table.candidate-delegates
          %thead
            %tr
              %th.candidate Candidate
              %th.n-delegates{colspan: 2}
                - if party_race_day.n_unpledged_delegates > 0
                  Delegates &amp; Superdelegates
                - else
                  Delegates
              %th.n-pledged-delegates{colspan: 2}
                - if party_race_day.n_unpledged_delegates > 0
                  Pledged Delegates
                - else
                  Delegates
          %tbody
            - party_race_day.candidate_race_days.each do |candidate_race_day|
              %tr{'data-candidate-id': candidate_race_day.candidate_id}
                %td.candidate
                  %img{src: image_path("big-headshots/#{candidate_race_day.candidate_slug}.png"), alt: ''}
                  %span= candidate_race_day.candidate_last_name
                %td.n-delegates-int= format_int(candidate_race_day.n_delegates)
                %td.n-delegates-dots
                  - for dot_group in candidate_states_to_dot_groups(candidate_race_day.candidate_states, :has_delegates?, :n_delegates)
                    .dot-group<>
                      - for dot_subgroup in dot_group.dot_subgroups
                        %span.dot-subgroup{'data-state-code': dot_subgroup.state_code}<>
                          = '•' * dot_subgroup.n_dots
                        = "\u200b"
                %td.n-pledged-delegates-int= format_int(candidate_race_day.n_pledged_delegates)
                %td.n-pledged-delegates-dots
                  - for dot_group in candidate_states_to_dot_groups(candidate_race_day.candidate_states, :has_pledged_delegates?, :n_pledged_delegates)
                    .dot-group<>
                      - for dot_subgroup in dot_group.dot_subgroups
                        %span.dot-subgroup{'data-state-code': dot_subgroup.state_code}<>
                          = '•' * dot_subgroup.n_dots
                        = "\u200b"
            %tr.up-for-grabs
              %td.candidate
                %span Up for grabs
              %td.n-delegates-int= party_race_day.n_delegates_up_for_grabs
              %td.n-delegates-dots
                - for dot_group in races_to_unassigned_dot_groups(party_race_day.races, :has_delegates_without_candidates?, :n_delegates_without_candidates)
                  .dot-group<>
                    - for dot_subgroup in dot_group.dot_subgroups
                      %span.dot-subgroup{'data-state-code': dot_subgroup.state_code}<>
                        = '•' * dot_subgroup.n_dots
                      = "\u200b"
              %td.n-pledged-delegates-int= party_race_day.n_pledged_delegates_up_for_grabs
              %td.n-pledged-delegates-dots
                - for dot_group in races_to_unassigned_dot_groups(party_race_day.races, :has_pledged_delegates_without_candidates?, :n_pledged_delegates_without_candidates)
                  .dot-group<>
                    - for dot_subgroup in dot_group.dot_subgroups
                      %span.dot-subgroup{'data-state-code': dot_subgroup.state_code}<>
                        = '•' * dot_subgroup.n_dots
                      = "\u200b"
        .state-delegates
          %ul
            - party_race_day.party_states.each do |party_state|
              %li{'data-state-code': party_state.state_code, 'data-state-name': party_state.state_name, 'data-n-delegates': party_state.n_delegates, 'data-n-pledged-delegates': party_state.n_pledged_delegates, 'data-n-delegates-with-candidates': party_state.n_delegates_with_candidates, 'data-n-pledged-delegates-with-candidates': party_state.n_pledged_delegates_with_candidates, 'data-race-href': "##{party_state.state_code}-#{party_state.party_id}"}
                .map!= map_svg("states/tiny/#{party_state.state_code}")
                .n-delegates= format_int(party_state.n_delegates)
                .n-pledged-delegates= format_int(party_state.n_pledged_delegates)

        .delegate-footnotes
          - if party_race_day.n_unpledged_delegates > 0
            != render(partial: 'race-day/include-unpledged-delegates')
          != render(partial: 'race-day/delegate-counts-may-change')
