%table.candidates
  %thead
    %tr
      %th.candidate Candidate
      %th.n-delegates{colspan: 2} Delegates
      %th.n-pledged-delegates{colspan: 2} Delegates
      - if race.has_pollster_data?
        %th.pollster Polling Average 
      %th.n-votes
        - if race.n_votes_th
          = race.n_votes_th
          %span.asterisk> *
        - else
          Votes
      %th.percent-vote= '%'
  %tbody
    - race.candidate_races.each do |candidate_race|
      - candidate = candidate_race.candidate
      %tr{'data-candidate-id': candidate.id, class: (candidate_race.winner? ? 'winner' : '')}
        %td.candidate
          %img{src: image_path("#{candidate.slug}.png"), alt: ''}
          %span.name= candidate.name
        %td.n-delegates= format_int(candidate_race.n_delegates || 0)
        %td.n-delegates-dots!= candidate_race_dot_groups(candidate_race, :n_delegates).to_html
        %td.n-pledged-delegates= format_int(candidate_race.n_pledged_delegates || 0)
        %td.n-pledged-delegates-dots!= candidate_race_dot_groups(candidate_race, :n_pledged_delegates).to_html
        - if race.has_pollster_data?
          %td.pollster
            - if candidate_race.poll_sparkline && !candidate_race.poll_sparkline.empty?
              .sparkline!= candidate_race.poll_sparkline.to_svg
            %span.percent= format_percent_or_nil(candidate_race.poll_percent)
        %td.n-votes= format_int(candidate_race.n_votes)
        %td.percent-vote= format_percent_or_nil(candidate_race.percent_vote)

- if race.n_votes_footnote
  %p.n-votes-footnote.when-precincts-reporting
    %span.asterisk *
    = race.n_votes_footnote

- if race.pollster_last_updated
  %p.poll-last-updated.when-no-precincts-reporting!= "#{race.state_name} poll averages compiled by <a href=\"//elections.huffingtonpost.com/pollster/#{race.pollster_slug}\">HuffPost Pollster</a> at <time datetime=\"#{format_datetime(race.pollster_last_updated)}\"></time>"
