.race{id: "#{race.state_code}-#{race.party_id}", 'data-party-id': race.party_id, 'data-state-code': race.state_code, class: "#{race.when_race_happens} #{race.has_delegate_counts && 'has-delegate-counts' || ''}"}
  %h3.race-name= race.title
  .race-status
    .status-past
      %p.status-p All precincts reporting
      %p.status-p
        Last updated:
        %time{datetime: format_datetime(race.last_updated)}
    .status-present
      %p.refresh-flag
        %img{src: image_path("refresh.svg")}
        0:TK
      %p.status-p #{race.n_precincts_reporting} of #{race.n_precincts_total} precincts reporting
    %p.status-future Coming #{race_day.date.strftime('%B %-d, %Y')}
  %p.text= race.text # may be nil, but we still put the <p> so we can line up the Dem and GOP <p>s
  .party-state-map
    != map_svg("states/#{race.state_code}")
    != render(partial: 'race-day/race-map-legend', locals: { party: race.party })
  != render(partial: 'race-day/race-candidates', locals: { race: race })
