.race-day-nav
  .previous
    - if previous_race_day
      %a.previous-inner{href: "/2016/primaries/#{previous_race_day.id}"}
        %span.label Previous race
        %span.date « #{previous_race_day.date.strftime('%B %-d')}
  .calendar
    %a{href: '/2016/primaries#calendar'} See calendar
  - if next_race_day
    .next
      - if next_race_day.enabled?
        %a.next-inner{href: "/2016/primaries/#{next_race_day.id}"}
          %span.label Next race
          %span.date #{next_race_day.date.strftime('%B %-d')} »
      - else
        %span.disabled.next-inner
          %span.label Next race
          %span.date #{next_race_day.date.strftime('%B %-d')} »
