%table.candidates
  %thead
    %tr
      %th.candidate Candidate
      %th.n-votes
        - if race.n_votes_is_really_n_sdes
          %abbr{title: 'State Delegate Equivalents'} SDEs
          %sup> ∗
        - else
          Votes
      %th.n-delegates Delegates
      %th.pollster Polling Average 
  %tbody
    - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
    - race.candidate_states.each do |candidate_state|
      - candidate = candidate_state.candidate
      %tr{'data-candidate-id': candidate.id, 'class': "#{n_unellipsized <= 0 ? 'ellipsized' : ''} #{candidate_state.winner? ? 'winner' : ''}"}
        %td.candidate
          %img{src: image_path("#{candidate.slug}.png"), alt: ''}
          %span.name= candidate.name
        %td.n-votes= format_int(candidate_state.n_votes)
        %td.n-delegates
          .n-delegates-inner
            %span.n-delegates-int= format_int(candidate_state.n_delegates)
            .dots{class: "dots-#{race.party_id}"}= "\u200b•" * candidate_state.n_delegates
        %td.pollster
          - if candidate_state.poll_sparkline && !candidate_state.poll_sparkline.empty?
            .sparkline!= candidate_state.poll_sparkline.to_svg
          %span.percent= format_percent_or_nil(candidate_state.poll_percent)
      - n_unellipsized -= 1
-# Add prompt, so there's no resize when $.fn.ellipsize_table() kicks in.
- if n_unellipsized < 0
  .ellipsize-table-prompt

- if race.n_votes_is_really_n_sdes
  %p.state-delegate-equivalents.when-past.when-present
    %sup ∗
    The Iowa Democratic Party doesn't report vote counts. It reports State Delegate Equivalents (SDEs), predictions of who will attend the state-wide party convention.

.n-delegates.n-delegates-without-candidates
  .dots{class: "dots-#{race.party_id}"}
    %span.without-candidates>= "\u200b•" * race.n_delegates_without_candidates
    %span.with-candidates= "\u200b•" * race.n_delegates_with_candidates
  %p
    %span.n-delegates-without-candidates-int= format_int(race.n_delegates_without_candidates)
    of
    %span.n-delegates-int= format_int(race.n_delegates)
    delegates in play in #{race.state_name}.
  %p HuffPost counts unpledged delegates who have publicly stated their intent to vote for a candidate.
  %p
    %a{href: '/2016/primaries/about-delegates'} How we count delegates
