.race{id: "#{race.state_code}-#{race.party_id}", 'data-party-id': race.party_id, 'data-state-code': race.state_code, class: "#{race.when_race_happens} #{race.has_delegate_counts && 'has-delegate-counts' || ''}"}
  %h3.race-name= "#{race.state_name} #{race.party_adjective} #{race.race_type}"
  .n-delegates
    %span.dots{class: "dots-#{race.party_id}"}= "\u200b•" * race.n_delegates
    %span.n-delegates-int= "#{format_int(race.n_delegates)} delegates."
    %a{href: '/2016/primaries/about-delegates'} How they're allocated.
  %p.text= race_text(race) # may be null, but we still print it so two <p>s will line up on desktop
  .race-status
    %p.status-past All precincts reporting
    %p.status-present Live results
    %p.status-future No results yet
  .party-state-map
    != map_svg("states/#{race.state_code}")
    != render(partial: 'race-day/race-map-legend', locals: { party: race.party })
  != render(partial: 'race-day/race-candidates', locals: { race: race })
  != render(partial: 'race-day/race-footnotes', locals: { race: race })
