.one-race
  - race = race_day.tabulated_races.first
  .race{'data-party-id': race.party_id, id: "i#{race.id}", class: "race-#{race.when_race_happens} #{race.any_precincts_reporting? ? '' : 'no-'}precincts-reporting"}
    != render(partial: 'primaries/splash/party-candidate-listing', locals: { race: race })

    .precincts-status-tease
      != render(partial: 'primaries/splash/precincts-reporting', locals: { race: race })
      .race-status.when-race-present
        %button.refresh 0:30
      != render(partial: 'primaries/splash/tease-link', locals: { race: race })

    .map!= map_svg("states/#{race.state_code}")

    != render(partial: 'primaries/splash/map-legend', locals: { leader_name: race.candidate_races.first.candidate_last_name })
  != render(partial: 'primaries/splash/other-races', locals: { races: race_day.races.reject(&:tabulates_votes?) })
