.many-races
  - race_day.party_race_days.each do |party_race_day|
    .party-race-day{'data-party-id': party_race_day.party_id}
      .party-container
        .party-header
          %img{src: image_path("#{party_race_day.party_id}.svg"), alt: ''}
          %h3 #{party_race_day.party_adjective} Candidates
          .n-pledged-delegates
            %p
              Total pledged delegates:
              %strong= party_race_day.n_pledged_delegates

        .candidates-and-states
          .many-races-legend
            %h3 Leaders
            .n-pledged-delegates Pledged delegates
          %ul.candidates
            - party_race_day.candidate_race_days.each_with_index do |candidate_race_day, i|
              %li.candidate
                .last-name
                  %img{src: image_path("#{candidate_race_day.candidate_slug}.png"), alt: ''}
                  = candidate_race_day.candidate_last_name

                .leads-races
                  - if candidate_race_day.leads_candidate_races.length > 0
                    %ul.states<>
                      - candidate_race_day.leads_candidate_races.each do |candidate_race|
                        %li{'data-state-code': candidate_race.state_code, class: candidate_race.winner? ? 'winner' : ''}<>
                          %a{href: candidate_race.race_href, title: "#{candidate_race.state_name}: #{candidate_race.candidate_last_name} #{candidate_race.winner? ? 'wins' : 'leads'}"}<>
                            %span.state-code= candidate_race.state_code
                            != map_svg("states/tiny/#{candidate_race.state_code}")

                .n-pledged-delegates= format_int(candidate_race_day.n_pledged_delegates)
          - if party_race_day.party_id == 'Dem'
            .instructions
              %p Source: AP
              %p Click a state to follow its race.
              %p We project pledged delegates in a state after most precincts are reporting.
          - if party_race_day.races_without_leaders.length > 0
            .states-without-candidates
              %h5 Still to come:
              %ul.states<>
                - party_race_day.races_without_leaders.each do |race|
                  %li{'data-state-code': race.state_code}<>
                    %a{href: race.href, title: "#{race.state_name}: waiting for results"}<>
                      %span.state-code= race.state_code
                      != map_svg("states/tiny/#{race.state_code}")
