.calendar
  %ol.race-months
    - race_months.each do |race_days|
      %li.race-month
        %h4.month= race_days[0].date.strftime('%B')
        %ol.race-days
          - race_days.each do |race_day|
            %li.race-day{"data-date": race_day.id}
              %a.race-day{href: "/2016/primaries/#{race_day.id}"}= race_day.date.strftime('%-d')
              %ul.parties
                - parties.each do |party|
                  - party_states = race_day.states_for_party(party)
                  - if !party_states.empty?
                    %li{class: "party party-#{party.id.downcase}"}
                      %p.party-name= party.name
                      %ul.party-states
                        - party_states.each do |state|
                          %li.party-state= state.name
