.delegate-counts
  - parties.each do |par|
    %div.party-container{:id => par.adjective}
      %h4= "#{par.adjective} Party"
      - par.candidates.each do |cd|
        %div.candidate-container{ :'data-candidate-id' => cd.id }
          %span.cd-name= cd.name
          %div.n-delegates-bar{:style => "width: #{cd.n_delegates / 3}px;" }
          %span.n-delegates-count= cd.n_delegates
