.horse-races
  - parties.each do |party|
    .horse-race{class: "party-#{party.id}", 'data-n-delegates': party.n_delegates_total, 'data-n-delegates-needed': party.n_delegates_needed}
      %h3= party.name
      %ol.candidate-horses
        - party.candidates.reject(&:dropped_out?).reverse.each do |candidate|
          %li.candidate-horse{'data-candidate-id': candidate.id, 'data-n-delegates': candidate.n_delegates, class: (candidate.dropped_out? ? 'dropped-out' : '')}
            .info
              .last-name= candidate.name
              .n-delegates= format_int(candidate.n_delegates)
            .visual
              .background
              .marker{style: "left: #{(candidate.n_delegates || 0).to_f / party.n_delegates_needed * 100}%"}
                %img{src: image_path("horses/#{candidate.slug}-horse.png"), alt: ''}

      %ol.candidate-targets
        - party.candidates.reject(&:dropped_out?).reverse.each do |candidate|
          %li.candidate-target{'data-candidate-id': candidate.id, 'data-n-delegates': candidate.n_delegates, class: (candidate.dropped_out? ? 'dropped-out' : '')}
            %img{src: image_path("horses/#{candidate.slug}-target.png"), alt: ''}
