.horse-races
  - parties.each do |party|
    .horse-race{class: "party-#{party.id}", 'data-n-delegates': party.n_delegates_total, 'data-n-delegates-needed': party.n_delegates_needed}
      %h3= party.name

      .n-delegates-needed #{format_int(party.n_delegates_needed)} delegates to win

      %ol.candidate-horses
        - party.candidates.select(&:in_horse_race?).reverse.each do |candidate|
          %li.candidate-horse{'data-candidate-id': candidate.id, class: (candidate.dropped_out? ? 'dropped-out' : '')}
            .background
              .start-line
            .marker{style: "left: #{(candidate.n_delegates || 0).to_f / party.n_delegates_needed * 100}%"}
              %img{src: image_path("horses/#{candidate.slug}-horse.png"), alt: ''}
              .speech-bubble-outer
                .speech-bubble
        %li.extra-layer
          .background
            .start-line
          .bar-label-outer
            .bar-label

      .race-days
        %ol.race-days<>
          - party.party_race_days.select{ |prd| prd.n_pledged_delegates_with_candidates > 0 }.each do |prd|
            != render(partial: 'horse-race-li', locals: { class_name: 'has-delegates', party_race_day: prd })
          - if party.n_unpledged_delegates_with_candidates > 0
            %li.unpledged-delegates<>
              %h4 With Unpledged
              %h4 Delegates
              %a{href: '/2016/primaries/about-delegates'} More info &raquo;
          - party.party_race_days.select{ |prd| prd.n_pledged_delegates_with_candidates == 0 }.each do |prd|
            != render(partial: 'horse-race-li', locals: { class_name: 'has-no-delegates', party_race_day: prd })

        .race-day-selector
          .left
          .right

        .json-data= party.horse_race_data.to_json

        %button.play
          -# All CSS

      %ol.candidate-targets
        - party.candidates.select(&:in_horse_race?).reverse.each do |candidate|
          %li.candidate-target{'data-candidate-id': candidate.id}
            .last-name= candidate.name
            %img{src: image_path("horses/#{candidate.slug}-target.png"), alt: ''}
            .target
            .n-delegates= format_int(candidate.n_delegates)
