.horse-race.loading{'data-party-id': party.id, class: party.candidates.find{|c| (c.n_delegates || 0) >= party.n_delegates_needed } ? 'has-winner' : ''}
  .n-delegates-needed #{format_int(party.n_delegates_needed)} delegates to win

  %ol.candidate-horses
    - party.candidates.select(&:in_horse_race?).reverse.each do |candidate|
      - fraction = (candidate.n_delegates || 0).to_f / party.n_delegates_needed
      %li.candidate-horse{'data-candidate-id': candidate.id, class: "#{candidate.dropped_out? ? 'dropped-out' : ''} #{fraction >= 1.0 ? 'winner' : ''}"}
        .background
          .start-line
        .last-name= candidate.last_name
        .marker{style: "left: #{[ 1.0, fraction ].min * 100}%"}
          %img{src: image_path("horses/#{candidate.slug}-horse.png"), alt: ''}
          .speech-bubble-outer
            .speech-bubble
            .speech-bubble-triangle
    %li.extra-layer
      .background
        .start-line
      .bar-label-outer
        .bar-label

  .race-days
    %ol.race-days<>
      - party.party_race_days.reject(&:future?).each do |prd|
        != render(partial: 'horse-race-li', locals: { class_name: 'has-delegates', party_race_day: prd })
      - if party.n_unpledged_delegates_with_candidates > 0
        %li.unpledged-delegates<>
          %h4 With
          %h4 Superdelegates
          %a{href: '/2016/primaries/about-delegates'} More info &raquo;
      - party.party_race_days.select(&:future?).each do |prd|
        != render(partial: 'horse-race-li', locals: { class_name: 'has-no-delegates', party_race_day: prd })

    .race-day-selector
      .left
      .right

    .json-data= party.horse_race_data(with_animation: with_animation).to_json

  - if with_animation
    %ol.candidate-targets
      - party.candidates.select(&:in_horse_race?).reverse.each do |candidate|
        %li.candidate-target{'data-candidate-id': candidate.id}
          .last-name= candidate.name
          %img{src: image_path("horses/#{candidate.slug}-target.png"), alt: ''}
          .target
          .n-delegates= format_int(candidate.n_delegates)
