%div.rail-banner
  %div
    %h3.status COMING SOON: Iowa Caucus
%div.container
  %p= "In #{"TK days"}, Iowans will be the first Americans to cast their vote for the candidates  be the Republican and Democratic nominees. See who currently is favored to win in Iowa based on the most recent polls from HuffPost Pollster. Check our Election Center for live-updates on who is winning once the race begins in February."
  %div.teaser-link
    %a.button{target: '_parent', href: "/2016/primaries"} See the election calendar
    %div.arrow-right
    %div
      %span.seconds
  - parties.each do |party|
    %div.party-container
      %a.race-day-link{target: '_parent', href: "/2016/primaries/#{next_race_day.id}"}
      - del_key = "n_#{party.id.downcase}_delegates"
      %h3.race-name= "#{party.adjective} Caucus"
      %span Delegates Up For Grabs:
      %span{class: "#{party.id.downcase}-del-available"}= state_iowa[del_key]
      - race = sort_iowa_data(party, state_iowa)
      %table.t-pollster
        %thead
          %tr
            %th.img Candidate
            %th.pollster{:colspan => 2} Latest Pollster Average, Iowa Polls
        %tbody
          - race.each do |cd_state|
            - cd = cd_state.candidate
            - if cd_state.poll_percent
              %tr.candidate{'data-candidate-id': cd.id}
                %td.img
                  %img.cd-img{src: image_path("#{cd.slug}.png"), alt: ''}
                %td{class: "cd-name #{cd.party_id.downcase}"}= cd.full_name
                %td{class: "pollster"}= "#{cd_state.poll_percent}%"
      %span.last-updated-prefix Last Updated:
      %span.last-updated{datetime: race[0].candidate.poll_last_update}
    %script{src: asset_path('primary-right-rail.js')}
