.t-pollster
  %h4.party-hed= party.name
  %table
    %thead
      %tr
        %th{colspan: "2"}
          Candidate
        %th.pollster
          Pollster average
    %tbody
      - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
      - for candidate in party.candidates
        %tr.rep-candidate{class: n_unellipsized <= 0 ? 'ellipsized' : ''}
          %td.cd-img
            %img{src: image_path("#{candidate.slug}.png"), alt: ''}
          %td.cd-name= candidate.full_name
          %td.pollster= "#{candidate.poll_percent}%"
        - n_unellipsized -= 1
  -# Add prompt, so there's no resize when $.fn.ellipsize_table() kicks in.
  .ellipsize-table-prompt
