.t-pollster
  %h4.party-hed= "#{party.adjective} Candidates"
  %table{'data-party-id': party.id}
    %thead
      %tr
        %th.candidate Candidate
        %th.pollster
          .long-table-heading National Polling Average
    %tbody
      - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
      - for candidate in party.candidates.sort_by{|c| -(c.poll_percent or 0)}
        %tr{class: n_unellipsized <= 0 ? 'ellipsized' : ''}
          %td.candidate
            %img{src: image_path("#{candidate.slug}.png"), alt: ''}
            = candidate.full_name
          %td.pollster
            - if candidate.poll_sparkline && !candidate.poll_sparkline.empty?
              .sparkline!= candidate.poll_sparkline.to_svg
            %span.percent= format_percent_or_nil(candidate.poll_percent)
        - n_unellipsized -= 1
  -# Add prompt, so there's no resize when $.fn.ellipsize_table() kicks in.
  - if n_unellipsized < 0
    .ellipsize-table-prompt
  .metadata.footnotes
    %p.pollster-note
      Source:
      %a{href: "//elections.huffingtonpost.com/pollster/2016-national-#{{ 'GOP' => 'gop', 'Dem' => 'democratic' }[party.id]}-primary"}
        HuffPost Pollster
