.t-pollster
  %h4.party-hed= "#{party.adjective} Candidates"
  %table{'data-party-id': party.id}
    %thead
      %tr
        %th{colspan: "1"}
          Candidate
        %th.pollster{colspan: "2"}
          National Polling Average
    %tbody
      - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
      - for candidate in party.candidates.sort_by(&:poll_percent).reverse
        %tr.rep-candidate{class: n_unellipsized <= 0 ? 'ellipsized' : ''}
          %td.cd-img
            %img{src: image_path("#{candidate.slug}.png"), alt: ''}
          %td.cd-name= candidate.full_name
          %td.pollster
            - if candidate.poll_sparkline && !candidate.poll_sparkline.empty?
              .sparkline!= candidate.poll_sparkline.to_svg
            %span.percent= "#{candidate.poll_percent}%"
        - n_unellipsized -= 1
  .metadata.footnotes
    %p.pollster-note Polling average based on latest national polls aggregated by HuffPost Pollster.
