%div.rail-banner
  %div
    %span.status= "NEXT RACE DAY: #{next_race_day.date.strftime("%B %C, %Y")}"
  %div.teaser-link
    %a.button{target: '_parent', href: "/2016/primaries/#{next_race_day.id}"} See the full preview here
    %div.arrow-right
%div.container
  %h4 Polls open in:
  %div{id: 'countdown'}
    %table
      %tr
        %th.days
        %th.hours
        %th.minutes
        %th.seconds
      %tr
        %td.time-text Days
        %td.time-text Hours
        %td.time-text Minutes
        %td.time-text Seconds
    %div
      %span.seconds
  - parties.each do |party|
    - state_list = next_race_day.states_for_party(party)
    - del_key = "n_#{party.id.downcase}_delegates"
    %div.race-name
      %span= "#{party.name}"
    %div.states-active
      - state_list.each do |state|
        %span= state.name
        %div.delegates-available
          %span{class: party.id.downcase}= "#{state[del_key]} Delegates"
    - race = sort_iowa_data(party, state_iowa)
    %table.t-pollster
      %thead
        %tr
          %th.img
          %th
          %th.pollster Pollster Average
      %tbody
        - race.each do |cd_state|
          - cd = cd_state.candidate
          - if cd_state.poll_percent
            %tr.candidate{'data-candidate-id': cd.id}
              %td.img
                %img.cd-img{src: image_path("#{cd.slug}.png"), alt: ''}
              %td{class: "cd-name #{cd.party_id.downcase}"}= cd.full_name
              %td.pollster= "#{cd_state.poll_percent}%"
    %span.last-updated-date= "Last updated:  #{race[0].candidate.poll_last_update.strftime('%B %d, %Y')}"
  %div.teaser-link
    %a.button{target: '_parent', href: "/2016/primaries/#{next_race_day.id}"} Click for Iowa Preview
    %div.arrow-right

  %h4 Coming Up
  - coming = following_races(next_race_day.id)
  - limit = coming.length > 3 ? 0..2 : 0..coming.length - 1
  - for i in limit
    %a.upcoming-link{target: '_parent', href: "/2016/primaries/#{coming[i].id}"}
      %span.upcoming-date="#{coming[i].date.strftime("%b %d")}:"
      %span.upcoming-dem="#{dem_states_string(coming[i].races_codified[:Dem])}"
      %span.upcoming-gop="#{gop_states_string(coming[i].races_codified[:GOP])}"
  %script{src: asset_path('primary-right-rail.js')}
