%div{id: 'countdown'}
  %div
    %div.time-text Days
    %span.days
  %div
    %div.time-text Hours
    %span.hours
  %div
    %div.time-text
    %span.minutes
  %div
    %div.time-text
    %span.seconds
%h3= state_iowa.name
%p explanatory text about the first primary in Iowa Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
- parties.each do |party|
  - del_key = "n_#{party.id.downcase}_delegates"
  %div.race-name
    %span= "#{party.adjective} Caucus"
  %div.delegates-available
    %span{class: party.id}= "#{state_iowa[del_key]} Delegates"
  %h4 Pollster Leaders
  - race = sort_iowa_data(party, state_iowa)
  %table.t-pollster
    %thead
      %tr
        %th
        %th
        %th Pollster Average
    %tbody
      - race.each do |cd_state|
        - cd = cd_state.candidate
        - if cd_state.poll_percent
          %tr.candidate{'data-candidate-id': cd.id}
            %td
              %img.cd-img{src: "/2016/images/#{cd.slug}.png", alt: ''}
            %td.cd-name= cd.full_name
            %td.pollster= "#{cd_state.poll_percent}%"
  %span.last-updated= "Last updated:  #{race[0].candidate.poll_last_update.strftime('%r - %x')}"
%a.button{href: "http://elections.huffingtonpost.com/pollster"} Click for pollster charts

%h4 Coming Up
- coming = following_races(next_race_day.id)
- limit = coming.length > 3 ? 0..2 : 0..coming.length - 1
- for i in limit
  %a.upcoming-link{target: '_parent', href: "/2016/primaries/#{coming[i].id}"}
    %span.upcoming-date="#{coming[i].date.strftime("%b %d")}:"
    %span.upcoming-dem="#{dem_states_string(coming[i].races_codified[:Dem])}"
    %span.upcoming-gop="#{gop_states_string(coming[i].races_codified[:GOP])}"
%script{src: asset_path('primary-right-rail.js')}
