.race{id: "#{state.code}-#{party.id}", 'data-party-id': party.id, 'data-state-code': state.code}
  - race = database.races.find_by_party_and_state(party, state)
  - if race
    %h3= "#{race.state_name} #{race.party_adjective} #{race.race_type}"
  - else
    %h3= "#{state.name} #{party.name}"
  .party-state-map!= map_svg("states/#{state.code}")
  - text = race_text(race)
  - if text
    %p.text= text
  - if !race
    %p= "#{state.name} #{party.name} won't pledge any delegates to a 2016 presidential nominee."
  - elsif !race.ap_id
    - if race.race_day == race_day
      %p= "Come back #{race_day.date.strftime('%B %-d')} for live results"
    - else
      %p
        This race will happen on
        %a{href: "/2016/primaries/#{race.race_day.id}"}= race.race_day.date.strftime('%B %-d')
  - else
    - is_this_page_date = race.race_day == race_day
    %div{class: "race-inner #{is_this_page_date ? 'race-this-page-date' : 'race-another-date'} #{race.n_precincts_reporting > 0 ? 'some-precincts-reporting' : 'no-precincts-reporting'}"}
      - if !is_this_page_date
        %p= "This race happened on #{race.race_day.date.strftime('%B %-d')}"
      %table.race
        %thead
          %tr
            %th.candidate{colspan: "2"} Candidate
            %th.n-votes Votes
            %th.n-delegates Delegates
            %th.pollster Polling Average 
        %tbody
          - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
          - race.candidate_states.each do |candidate_state|
            - candidate = candidate_state.candidate
            %tr{'data-candidate-id': candidate.id, 'class': n_unellipsized <= 0 ? 'ellipsized' : ''}
              %td.cd-img
                %img{src: image_path("#{candidate.slug}.png"), alt: ''}
              %td.candidate= candidate.name
              %td.n-votes= format_int(candidate_state.n_votes)
              %td.n-delegates= format_int(candidate_state.n_delegates)
              %td.pollster= candidate_state.poll_percent ? "#{candidate_state.poll_percent}%" : ""
            - n_unellipsized -= 1
      -# Add prompt, so there's no resize when $.fn.ellipsize_table() kicks in.
      .ellipsize-table-prompt
      .metadata.footnotes
        %p.precincts-reporting
          %span.n-reporting= race.n_precincts_reporting
          of
          %span.n-total= race.n_precincts_total
          precincts reporting
        %p.last-updated
          Last updated:
          %time{datetime: format_datetime(race.last_updated)}
        - if race.poll_last_updated
          %p.poll-last-updated.no-precincts-reporting!= "Polling averages based on latest Iowa polls compiled by <a href=\"//elections.huffingtonpost.com/pollster/#{race.pollster_slug}\">HuffPost Pollster</a> and were lasted updated at <time datetime=\"#{format_datetime(race.poll_last_updated)}\"></time>"
          %p.poll-last-updated.some-precincts-reporting!= "Check <a href=\"//elections.huffingtonpost.com/pollster/#{race.pollster_slug}\">HuffPost Pollster</a> to see how who led the race before the Iowa caucus."
