- race = database.races.find_by_party_and_state(party, state)
.race{id: "#{state.code}-#{party.id}", 'data-party-id': party.id, 'data-state-code': state.code, class: "status-#{race && race.status || 'upcoming'}"}
  - if race.live?
    %p.live-banner Live results
  - if race
    %h3.race-name= "#{race.state_name} #{race.party_adjective} #{race.race_type}"
  - else
    %h3.race-name= "#{state.name} #{party.name}"
  - if race.status == 'past'
    %p.timing-note All precincts reporting
  - if race.status == 'upcoming'
    %p.timing-note= "Come back on #{race.date.strftime('%B %-d')} for results"
  %p.text= race_text(race) # may be null, but we still print it so two <p>s will line up on desktop
  .party-state-map!= map_svg("states/#{state.code}")
  - if !race
    %p= "#{state.name} #{party.name} won't pledge any delegates to a 2016 presidential nominee."
  - elsif race.race_day != race_day
    %p
      This race will happen on
      %a{href: "/2016/primaries/#{race.race_day.id}"}= race.race_day.date.strftime('%B %-d')
  - else
    - is_this_page_date = race.race_day == race_day
    %div{class: "race-inner #{is_this_page_date ? 'race-this-page-date' : 'race-another-date'} #{(race.n_precincts_reporting && race.n_precincts_reporting > 0) ? 'some-precincts-reporting' : 'no-precincts-reporting'}"}
      - if !is_this_page_date
        %p= "This race happened on #{race.race_day.date.strftime('%B %-d')}"
      %table.race
        %thead
          %tr
            %th.candidate Candidate
            %th.n-votes Votes
            %th.n-delegates Delegates
            %th.pollster Polling Average 
        %tbody
          - n_unellipsized = 5 # Changing this? Change race-day.js as well, or page will scroll while loading
          - race.candidate_states.each do |candidate_state|
            - candidate = candidate_state.candidate
            %tr{'data-candidate-id': candidate.id, 'class': n_unellipsized <= 0 ? 'ellipsized' : ''}
              %td.candidate
                %img{src: image_path("#{candidate.slug}.png"), alt: ''}
                = candidate.name
              %td.n-votes= format_int(candidate_state.n_votes)
              %td.n-delegates= format_int(candidate_state.n_delegates)
              %td.pollster
                - if candidate_state.poll_sparkline && !candidate_state.poll_sparkline.empty?
                  .sparkline!= candidate_state.poll_sparkline.to_svg
                %span.percent= candidate_state.poll_percent ? "#{candidate_state.poll_percent}%" : ""
            - n_unellipsized -= 1
      -# Add prompt, so there's no resize when $.fn.ellipsize_table() kicks in.
      - if n_unellipsized < 0
        .ellipsize-table-prompt
      .metadata.footnotes
        %p.precincts-reporting
          %span.n-reporting= race.n_precincts_reporting
          of
          %span.n-total= race.n_precincts_total
          precincts reporting
        - if race.last_updated
          %p.last-updated
            Last updated:
            %time{datetime: format_datetime(race.last_updated)}
        - if race.poll_last_updated
          %p.poll-last-updated.no-precincts-reporting!= "#{race.state_name} poll averages compiled by <a href=\"//elections.huffingtonpost.com/pollster/#{race.pollster_slug}\">HuffPost Pollster</a> at <time datetime=\"#{format_datetime(race.poll_last_updated)}\"></time>"
          %p.poll-last-updated.some-precincts-reporting!= "Check <a href=\"//elections.huffingtonpost.com/pollster/#{race.pollster_slug}\">HuffPost Pollster</a> to see how who led the race before the Iowa caucus."
