%table.state-race-days
  %thead
    %tr
      - for column in columns
        - case column.html_class
          - when 'n-delegates-int'
            %th.n-delegates{colspan: 2}= column.label
          - when 'n-delegates-dots'
            -# nothing
          - else
            %th{class: column.html_class}= column.label
  %tbody
    - last_value = nil
    - for race_day in race_days
      - for race in race_day.races
        %tr
          %td
            %time{datetime: race.race_day_id}= format_date(race.date)
          %td= race.state_name
          %td= race.party_name[0]
          %td= race.winner_or_nil ? race.winner_or_nil.candidate_last_name : ""