%table.state-race-days
  %thead
    %th Date
    %th State
    %th Party
    %th Delegates
  %tbody
    - last_value = nil
    - for race_day in race_days
      - for race in race_day.races
        %tr
          %td
            %time{datetime: race.race_day_id}= format_date(race.date)
          %td= race.state_name
          %td= race.party_name[0]
          %td= race.n_delegates
          %td.dot-groups-future
            != race_simple_dot_groups(race).to_html
          %td
            - if !race.enabled?
              %td.disabled-button
            - else
              %td.enabled-button
                %a.results-button{href: race.href}
                  %span.results-button-desktop
                    - if race.when_race_happens == 'future'
                      Preview
                    - else
                      Results
                  »