%table.state-race-days
  %thead
    %tr
      - for column in columns
        - case column.html_class
          - when 'n-delegates-int'
            %th.n-delegates{colspan: 2}= column.label
          - when 'n-delegates-dots'
            -# nothing
          - else
            %th{class: column.html_class}= column.label
  %tbody
    - last_value = nil
    - for race in races
      - current_value = race.send(hide_repeats_column)
      %tr{class: "#{race.enabled? ? 'enabled' : 'disabled'} #{current_value == last_value ? 'key-repeated' : ''}", 'data-party-id': race.party_id}
        - for column in columns
          %td{'class': "#{column.html_class} #{(column.html_class == hide_repeats_column && current_value == last_value) ? 'repeated' : ''}"}
            - case column.html_class
              - when 'date'
                - if race.enabled?
                  %a{href: "/2016/primaries/#{race.race_day_id}"}
                    %time{datetime: race.race_day_id}= format_date(race.date)
                - else
                  %span.disabled
                    %time{datetime: race.race_day_id}= format_date(race.date)
              - when 'winner'
                - if race.winner_or_nil
                  %img{class: "#{race.winner_or_nil.candidate_slug}", alt: "#{race.winner_or_nil.candidate_last_name}", src: image_path(race.winner_or_nil.candidate_slug + '.png')}
              - when 'state'
                = race.state_name
              - when 'party'
                = race.party_name[0]
              - when 'n-delegates-int'
                = race.n_delegates
              - when 'n-delegates-dots'
                != race_simple_dot_groups(race).to_html
              - when 'button'
                - if !race.enabled?
                  %td.disabled-button
                - else
                  %td.enabled-button
                    %a.results-button{href: race.href}
                      %span.results-button-desktop
                        - if race.when_race_happens == 'future'
                          Preview
                        - else
                          Results
                      »
      - last_value = current_value
