%table.state-race-days
  %thead
    %th Date
    %th State
    %th Party
    %th{colspan: 2} Delegates
  %tbody
    - last_value = nil
    - for race_day in race_days
      - for race in race_day.races
        - current_value = race.send(hide_repeats_column)
        %tr{class: "#{current_value == last_value ? 'key-repeated' : ''}"}
          %td.date.date-future
            %time{datetime: race.race_day_id}= format_date(race.date)
          %td.state
            - if race.enabled?
              %a{href: race.href}
                #{race.state_name} &raquo;
            - else 
              #{race.state_name}
          %td= race.party_name[0]
          %td= race.n_delegates
          %td.dot-groups-future{class: "#{race.party_id}"}
            != race_simple_dot_groups(race).to_html
        - last_value = current_value