-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed
  %p.dek= body

  != render(partial: 'share-buttons')

  - if focus_race_day
    %a.teaser{href: "/2016/primaries/#{focus_race_day.id}", class: focus_race_day.when_race_day_happens}
      %span.label
        - if focus_race_day.present?
          Happening Now
        - else
          Up Next
      %span.teaser-inner
        %span.detail= focus_race_day.title
        %span.callout
          - if focus_race_day.present?
            Live results &raquo;
          - else
            See preview &raquo;

  %h2.with-share-link
    %a.share-link{name: 'horse-races', href: '#horse-races'}
    Who&rsquo;s Ahead?
  != render(partial: 'horse-races')

  %h2.with-share-link
    %a.share-link{name: 'calendar', href: '#calendar'}
    Winners By State
  != render(partial: 'state-race-days')

-# race-day.js *could* be async, but then we'd have to wait for stats.js to
-# load before executing it. stats.js is slow and we can't fix it.
%script{src: asset_path('all-primaries.js')}
%script{src: asset_path('stats.js')}
%script{src: asset_path('ga.js')}
