-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed
  %p.dek= body
  %p.intro-date= "Published #{pubbed_dt}"

  != render(partial: 'share-buttons')

  %a.teaser{href: '/2016/primaries/2016-02-01'}
    %span.label Coming Soon
    %span.teaser-inner
      %span.detail Iowa Caucuses, February 1
      %span.callout See preview &raquo;

  %h3.section-hed Who&rsquo;s Ahead?
  .pollster-tables
    != render(partial: 'pollster-table', locals: { party: parties.find!('Dem') })
    != render(partial: 'pollster-table', locals: { party: parties.find!('GOP') })

  %h3.section-hed What&rsquo;s next?
  != render(partial: 'state-race-days')

%script{src: asset_path('main.js')}
