-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed
  %p.dek= body
  %p.intro-date Published Wednesday, Jan. 27, 10:00 AM EDT

  %a.teaser{href: '/2016/primaries/2016-02-01'}
    %span.label Coming Soon
    %span.teaser-inner
      %span.detail Iowa Caucuses, February 1
      %span.callout See preview &raquo;

  %h3.section-hed Who&rsquo;s Ahead?
  .pollster-tables
    != render(partial: 'pollster-table', locals: { party: parties.find!('Dem') })
    != render(partial: 'pollster-table', locals: { party: parties.find!('GOP') })

  %h3.section-hed What&rsquo;s next?
  != render(partial: 'state-race-days')

  %div.footnotes.footer
    %p Sources: The Associated Press, Huffpost Pollster
    %p By Adam Hooper, Hilary Fung, Shane Shifflett, Nicky Forster and Alissa Scheller

%script{src: asset_path('ga.js')}
%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
%script{src: asset_path('facebook.js')}
