-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed
  %p.dek= body
  %p.intro-date Published Monday, Jan. TK, 9:00 AM EDT
  %p.intro-date Last updated Monday, Jan. TK, 10:00 AM EDT

  %a.teaser{href: ''}
    %span.label Coming Soon
    %span.teaser-inner
      %span.detail Iowa Caucuses, February 1
      %span.callout See preview &raquo;

  %h3.section-hed Who&rsquo;s Ahead?
  .pollster-tables
    != render(partial: 'pollster-table', locals: { party: parties.find!('Dem') })
    != render(partial: 'pollster-table', locals: { party: parties.find!('GOP') })

  %h3.section-hed What&rsquo;s next?
  != render(partial: 'state-race-days')

  %div.footnotes.footer
    %p Sources: The Associated Press, Huffpost Pollster

%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
