-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed
  %p.dek= body
  %p.intro-date= "Published #{pubbed_dt}"

  != render(partial: 'share-buttons')

  - if focus_race_day
    %a.teaser{href: "/2016/primaries/#{focus_race_day.id}", class: focus_race_day.when_race_day_happens}
      %span.label
        - if focus_race_day.present?
          Happening Now
        - else
          Up Next
      %span.teaser-inner
        %span.detail= focus_race_day.title
        %span.callout
          - if focus_race_day.present?
            Live results &raquo;
          - else
            See preview &raquo;

  %h3.section-hed Who&rsquo;s Ahead?

  != render(partial: 'horse-races')

  .pollster-tables
    != render(partial: 'pollster-table', locals: { party: parties.find!('Dem') })
    != render(partial: 'pollster-table', locals: { party: parties.find!('GOP') })

  %h3.section-hed What&rsquo;s next?
  != render(partial: 'state-race-days')

%script{src: asset_path('main.js'), async: true}
%script{src: asset_path('stats.js')}
%script{src: asset_path('ga.js')}
