-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1.main-hed= hed

  %p.intro-copy= body

  %p.date Published Monday, Jan. TK, 9:00 AM EDT
  %p.date Last updated Monday, Jan. TK, 10:00 AM EDT

  != render(partial: 'dem-pollster-table')
  != render(partial: 'gop-pollster-table')

  %h3.section-hed What&rsquo;s next?
  != render(partial: 'state-race-days')

%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
