-# Called with a AllPrimariesPageGenerator::HtmlContext
#main
  %h1= hed

  %p= body

  != render(partial: 'delegate-bars')
  != render(partial: 'dem-pollster-table')
  != render(partial: 'gop-pollster-table')
  != render(partial: 'calendar')

%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
