!!! 5
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title Huffington Post 2016 Primary Results Mobile
  %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
  %link{rel: 'stylesheet', href: asset_path('mobile-ad.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-mobile-ad
    %div.head
      %h3.main-hed
        .when-future= "HAPPENING TONIGHT: #{race_day.title}"
        .when-present= "LIVE RESULTS: #{race_day.title}"
        .when-past= "RESULTS: #{race_day.title}"
    .parties-container
      - race_day.races.each do |race|
        - leader = race.candidate_races.first
        .party-container{class: race.party_id}
          .frontrunner-lbl
            %img{src: image_path("#{race.party_name.downcase}.svg"), alt: ''}
            .container
              -if race.party.id == 'Dem'
                %p= "DEMOCRATS"
              -else
                %p= "REPUBLICANS"
          .img-stats-container
            .leading-candidate-img
              %img{src: image_path("#{leader.candidate.slug}.png"), alt: ''}
            .leading-candidate-delegates
              %p.frontrunner-cd= leader.candidate.name
              -if leader.winner?
                %p.leads= "WINS"
              -else 
                %p.leads= "LEADS"
          %div.votes-container
            %span.polling.when-future= "#{format_percent_or_nil(leader.poll_percent)}%"
            %span.polling.when-future Polling Average 
            %span.polling.source.when-future
              %a{target: '_blank', href: "//elections.huffingtonpost.com/pollster/#{race.pollster_slug}"} Source
            %span.frontrunner-num.when-present.when-past= "#{format_int(leader.n_votes)}"
            %span.frontrunner-unit.when-present.when-past
              - if race.n_votes_is_really_n_sdes
                SDEs *
              - else
                %span.frontrunner-unit.when-present.when-past Votes 
            .frontrunner-num.pct.when-present.when-past= "#{format_percent_or_nil(leader.percent_vote)}%"

  - if race_day.races.any?(&:n_votes_is_really_n_sdes)
    %p.source.sde.when-present.when-past
      * Iowa Democrats report State Delegate Equivalents (SDEs), predictions of
      who will attend the state-wide party convention.

  .tease-link.when-past
    %a{href: "/2016/primaries/#{race_day.id}", "target": "_blank"}= "See results"
  .tease-link.when-present
    %a{href: "/2016/primaries/#{race_day.id}", "target": "_blank"}= "See live results"
  .tease-link.when-future
    %a{href: "/2016/primaries/#{race_day.id}", "target": "_blank"}= "See all candidates"

  %script{src: '/2016/javascripts/pym.min.js'}
  %script
    var pymChild = new pym.Child();
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
