!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Huffington Post 2016 Primaries Results Right Rail
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('primaries-right-rail.css')}
  %body{class: "race-day-#{race_day.when_race_day_happens}"}
    .header
      .line
      .hed
        %h1.when-race-day-present Live Results
        %h1.when-race-day-past Results
        %h1.when-race-day-future Happening Soon
      .line

    .race-day
      %h2
        %a{target: '_blank', href: '/2016/primaries/2016-02-09'}= race_day.title
      - if !race_day.today?
        %h4.date= race_day.date.strftime('%B %-d')
      %p.intro= race_day.body
      %p.tease-link.when-race-day-future.when-race-day-past
        %a{target: '_blank', href: "/2016/primaries#state-race-days-by-date"} See the election calendar
      %p.tease-link.when-race-day-present
        %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See live updates

      - if race_day.races.length < 4
        != render(partial: '/primaries/right-rail/few-races', locals: { race_day: race_day })
      - else
        != render(partial: '/primaries/right-rail/many-races', locals: { race_day: race_day })

  %script{src: '/2016/javascripts/pym.min.js'}
  %script
  var pymChild = new pym.Child();
  %script{src: asset_path('primary-right-rail.js')}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
