!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Huffington Post 2016 Primaries Results Right Rail
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('primaries-right-rail.css')}
  %body{class: "race-day-#{race_day.when_race_day_happens}"}
    .primary-right-rail
      %div.header
        %div.line
        %div.hed
          %h1.main-hed.when-present= "LIVE RESULTS"
          %h1.main-hed.when-past= "RESULTS"
          %h1.main-hed.when-future= "HAPPENING SOON"
        %div.line
      %h2.main-hed.sub
        %a{target: '_blank', href: '/2016/primaries/2016-02-09'}= "#{race_day.title}"
      %div.container
        %p.intro.when-future= "Anti-establishment candidates Bernie Sanders and Donald Trump are leading in New Hampshire polls. HuffPost will have live results on Feb. 9 when residents head to the polls."
        %p.tease-link.when-future
          %a{target: '_blank', href: "/2016/primaries#state-race-days-by-date"} See The Election Calendar
        %p.tease-link.when-present
          %a{target: '_blank', href: "/2016/primaries/2016-02-09"} See Live Updates
        %p.tease-link.when-past
          %a{target: '_blank', href: "/2016/primaries#state-race-days-by-date"} See Upcoming Races
        - race_day.state_party_races.first[1].each do |party, race, _|#TODO: Look at all races for multi race days!
          - party_abbrev = party.adjective == 'Democratic' ? "dem" : "gop"
          .party-container
            - del_key = "n_#{party.id.downcase}_delegates"
            %div{'class': "race-name #{party_abbrev}"}
              %h3= "#{party.adjective.upcase} CAUCUS"
              %p{class: "#{party.id.downcase}-del-available"}
                Delegates:
                = race.n_delegates
            %table.t-pollster{'data-party-id': party.id}
              %thead
                %tr
                  %th.candidate Candidate
                  %th.pollster.when-future
                    .long-table-heading Polling Average
                  %th.n-votes.when-past.when-present Votes
                  %th.n-votes-pct.when-past.when-present %
              %tbody
                - race.candidate_races.each do |candidate_race|
                  - candidate = candidate_race.candidate
                  %tr{'data-candidate-id': candidate.id}
                    %td.candidate
                      %img{src: image_path("#{candidate.slug}.png"), alt: ''}
                      = candidate.full_name
                      - if candidate_race.winner?
                        %span.winner ✓
                    %td.pollster.when-future
                      - if candidate_race.poll_sparkline && !candidate_race.poll_sparkline.empty?
                        .sparkline!= candidate_race.poll_sparkline.to_svg
                      %span.percent
                        - if candidate_race.poll_percent.nil?
                          N/A
                        - else
                          = "#{format_percent_or_nil(candidate_race.poll_percent)}%"
                    %td.n-votes.when-past.when-present= format_int(candidate_race.n_votes)
                    %td.n-votes-pct.when-past.when-present= "#{format_percent_or_nil(candidate_race.percent_vote)}"
            %div.footnotes
              %p.footnotes-for-pollster.when-future!= "Polling average based on latest Iowa polls aggregated by <a target=\"_top\" href=\"//elections.huffingtonpost.com/pollster/2016-iowa-presidential-#{party.adjective.downcase}-caucus\">HuffPost Pollster</a>."

  %script{src: '/2016/javascripts/pym.min.js'}
  %script
    var pymChild = new pym.Child();
  %script{src: asset_path('primary-right-rail.js')}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}


