!!! 5
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %title Huffington Post 2016 Primary Results
  %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body
  %div.primary-splash-banner
    %div.header
      %h1= "HAPPENING NOW: Iowa Caucus"
      %div.tease-link
        %a{href: "/2016/primaries/#{next_race_day.id}"}= "See live-updating results for the Caucus here."
    -parties.each do |party|
      - party_abbrev = party.adjective == 'Democratic' ? "dem" : "gop"
      - race = races.find_by_party_and_state(party, cur_state)
      %div{class: "party-container #{party_abbrev} clearfix"}
        -if party.adjective == 'Democratic'
          %div.leading-candidate-img.left
            %img{src: "/2016/images/#{leading_democrat.slug}.png", alt: ''}
          %div.leading-candidate-delegates.left
            %p.frontrunner-lbl="DEMOCRATIC FRONTRUNNER"
            %p.frontrunner-cd= "#{leading_democrat.name}: #{leading_democrat.n_delegates} delegates"
        -else
          %div.leading-candidate-img.left
            %img{src: "/2016/images/#{leading_republican.slug}.png", alt: ''}
          %div.leading-candidate-delegates.left
            %p.frontrunner-lbl="REPUBLICAN FRONTRUNNER"
            %p.frontrunner-cd= "#{leading_republican.name}: #{leading_republican.n_delegates} delegates"
        %div.candidate-delegates-lbl.left
          %p= "VOTE"
          %p= "COUNTS"
        %div.candidate-position-listing.left.clearfix
          - race.candidate_states.each do |cd_state|
            - cd = cd_state.candidate
            %div.left.candidate{'data-candidate-id': cd.id}
              %table
                %tr
                  %td= cd.name
                  %td= cd_state.n_votes
    %p
      Next race:
      %a{href: "/2016/primaries/#{next_race_day.id}"}= next_race_day.date.strftime('%A, %B %-d')
