!!! 5
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title Huffington Post 2016 Primary Results Mobile
  %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
  %link{rel: 'stylesheet', href: asset_path('mobile-ad.css')}

%body
  %div.primary-mobile-ad
    %div.head
      %h3.main-hed
        - case race_day.when_race_day_happens
        - when 'future'
          HAPPENING SOON: #{race_day.title}
        - when 'present'
          LIVE RESULTS: #{race_day.title}
        - when 'past'
          RESULTS: #{race_day.title}
    .parties-container
      - race_day.races.each do |race|
        - leader = race.candidate_races.first
        .party-container.race{class: "#{race.party_id} race-#{race.when_race_happens}"}
          .frontrunner-lbl
            %img{src: image_path("#{race.party_id}.svg"), alt: ''}
            .container
              %p= race.party_name
          .img-stats-container
            .leading-candidate-img
              %img{src: image_path("big-headshots/#{leader.candidate.slug}.png"), alt: ''}
            .leading-candidate-delegates
              %p.frontrunner-cd= leader.candidate_last_name
              %p.leads= leader.winner? ? 'Wins' : 'Leads'
          .votes-container
            - if race.future?
              %span.polling= "#{format_percent_or_nil(leader.poll_percent)}%"
              %span.polling Polling Average 
              %span.polling.source
                %a{target: '_blank', href: "//elections.huffingtonpost.com/pollster/#{race.pollster_slug}"} Source
            - else
              %span.frontrunner-num= format_int(leader.n_votes)
              %span.frontrunner-unit
                - if race.n_votes_th
                  = race.n_votes_th
                  %span.asterisk<> *
                - else
                  Votes
              .frontrunner-num.pct= "#{format_percent_or_nil(leader.percent_vote)}%"

  - race_day.races.reject(&:future?).map(&:n_votes_footnote).reject(&:nil?).each do |footnote|
    %p.footnote
      %span.asterisk *
      = footnote

  .tease-link
    %a{href: "/2016/primaries/#{race_day.id}", "target": "_blank"}
      - case race_day.when_race_day_happens
      - when 'future'
        See all candidates
      - when 'present'
        See live results
      - when 'past'
        See results

  %script{src: '/2016/javascripts/pym.min.js'}
  %script
    var pymChild = new pym.Child();
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
