!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results Splash
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-splash-banner
    .header
      .line
      .hed
        %h1.main-hed.when-present= "LIVE RESULTS: #{race_day.title}"
        %h1.main-hed.when-past= "RESULTS: #{race_day.title}"
        %h1.main-hed.when-future= "HAPPENING SOON: #{race_day.title}"
      .line
    .races
      - race_day.races.each do |race|
        .race{'data-party-id': race.party_id, id: race.id}
          .party-container
            .candidate-row-container
              .leading-candidate-img
                %img{src: image_path("#{race.party_id}.svg"), alt: ''}
              .leading-candidate-delegates.left
                .frontrunner-lbl
                  %span= race.party_adjective
                  %span Candidates
                  %span Total votes
            .candidate-position-listing
              %table
                %tbody
                  - race.candidate_races[0..2].each do |candidate_race|
                    - candidate = candidate_race.candidate
                    %tr.candidate{'data-candidate-id': candidate.id, class: "#{candidate_race.winner? ? 'winner' : ''} #{candidate_race.leader? ? 'leader' : ''}"}
                      %td.candidate-name= candidate.name
                      %td.n-votes.when-precincts-reporting= format_int(candidate_race.n_votes)
                      -if format_percent_or_nil(candidate_race.percent_vote) != 'N/A'
                        %td.n-votes-pct.when-no-precincts-reporting= "#{format_percent_or_nil(candidate_race.percent_vote)}%"
                      -else
                        %td.n-votes-pct.when-no-precincts-reporting= ""
            - if race.candidate_races.length > 3
              .see-all-candidates
                %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See all candidates

          .map-precincts-container{class: "#{race.n_precincts_reporting > 0 ? '' : 'no-'}precincts-reporting"}
            .precincts.when-present.when-past
              %span.precincts-val= race.pct_precincts_reporting
              of precincts reporting
            .precincts.when-future= race.results_coming_s
            .map-container
              .map
                != map_svg("states/#{race.state_code}")
              .legend-and-status
                .race-status.when-present
                  %button.refresh 0:30
                %ul.legend.when-precincts-reporting
                  %li
                    %span.swatch.leading
                    %span.name= race.candidate_races.first.candidate.name
                    leads
                  %li
                    %span.swatch.trailing
                    %span.name= race.candidate_races.first.candidate.name
                    trails
                  %li
                    %span.swatch.no-results
                    No results
                %p.tease-link
                  %a{target: '_blank', href: "/2016/primaries/#{race.race_day_id}##{race.state_code}-#{race.party_id}"} See results

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
