!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results Splash
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  .header
    .line
    .hed
      %h1.main-hed.when-race-day-present
        %a{href: race_day.href}= "LIVE RESULTS: #{race_day.title}"
      %h1.main-hed.when-race-day-past
        %a{href: race_day.href}= "RESULTS: #{race_day.title}"
      %h1.main-hed.when-race-day-future
        %a{href: race_day.href}= "HAPPENING SOON: #{race_day.title}"
    .line
  - if race_day.races.length == 1
    != render(partial: 'primaries/splash/1-race', locals: { race_day: race_day })
  - elsif race_day.races.length == 2
    != render(partial: 'primaries/splash/2-races', locals: { race_day: race_day })
  - else
    != render(partial: 'primaries/splash/many-races', locals: { race_day: race_day })

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
