!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results Splash
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-splash-banner
    .header
      .line
      .hed
        %h1.main-hed.when-present= "LIVE RESULTS: #{race_day.title}"
        %h1.main-hed.when-past= "RESULTS: #{race_day.title}"
        %h1.main-hed.when-future= "HAPPENING TONIGHT: #{race_day.title}"
      .line
    .flex-container
      .race-progress-container.flex-container
        .legend-labels-container
          .reporting
            %span#precincts-reporting-val= "#{precinct_stats[:reporting_precincts_pct_str]}"
            %span= " OF PRECINCTS REPORTING"
          .updating
            %span= "UPDATING IN "
            %img{src: image_path("refresh.svg")}
            %span.timer= "0:30"
          .tease-link
            %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See Results
          .legend
            .label= "TOWNS REPORTING"
            .container
              .finished
              %div
                %span#finished-geos-val= "#{precinct_stats[:geos_finished]}"
                %span= " FINISHED"
            .container
              .unfinished
              %div
                %span#unfinished-geos= "#{precinct_stats[:geos_unfinished]}"
                %span= " NOT FINISHED"
            .container
              .no-results
              %div
                %span#no-result-geos= "#{precinct_stats[:geos_noresults]}"
                %span= " W/O RESULTS"
        .map-container
          .map.progress
            != map_svg('states/NH') 
      -race_day.state_party_races.first[1].each do |party, race, _|
        .party-container{class: party.id.downcase}
          .candidate-row-container{class: party.id.downcase}
            .leading-candidate-img
              %img{src: image_path("#{party.name.downcase}.svg"), alt: ''}
            .leading-candidate-delegates.left
              .frontrunner-lbl
                %span= party.adjective.upcase
                %span CANDIDATES
                %span Total Votes
          .candidate-position-listing{class: party.id.downcase}
            %table
              %tbody
                - race.candidate_races[0..2].each do |candidate_race|
                  - candidate = candidate_race.candidate
                  %tr.candidate{'data-candidate-id': candidate.id, class: "#{candidate_race.winner? ? 'winner' : ''} #{candidate_race.leader? ? 'leader' : ''}"}
                    %td.candidate-name= candidate.name
                    %td.n-votes= format_int(candidate_race.n_votes)
                    -if format_percent_or_nil(candidate_race.percent_vote) != 'N/A'
                      %td.n-votes-pct= "#{format_percent_or_nil(candidate_race.percent_vote)}%"
          -if party.id == "GOP"
            .see-all-candidates
              %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See all candidates
        .map-container{class: "#{party.id.downcase}"}
          .map
            != map_svg('states/NH')
          .legend
            .container
              .leading
              %div
                %span.name= "#{race.candidate_races.first.candidate.name.upcase}"
                %span= " LEADS"
            .container
              .trailing
              %div
                %span.name= "#{race.candidate_races.first.candidate.name.upcase}"
                %span= " TRAILS"
            .container
              .no-results
              %div
                %span= "W/O RESULTS"
                


  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
