!!! 5
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title Huffington Post 2016 Primary Results Mobile
  %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
  %link{rel: 'stylesheet', href: asset_path('mobile-ad.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-mobile-ad
    %div.head
      %h3.main-hed.when-future= "HAPPENING SOON: Iowa Caucus"
      %h3.main-hed.when-present= "HAPPENING NOW: Iowa Caucus"
      %h1.main-hed.when-past= "RESULTS: Iowa Caucus"
    %div.parties-container
      -race_day.state_party_races.first[1].each do |party, race, _|
        - candidates_poll = race.candidate_states.sort_by{|c| -(c.candidate.poll_percent or 0)}
        - leader = race_day.when_race_day_happens == 'future' ? candidates_poll.first : race.candidate_states.max_by(&:n_votes)
        .party-container{class: party.id}
          .frontrunner-lbl
            %img{src: image_path("#{party.name.downcase}.svg"), alt: ''}
            .container
              %p= party.adjective
              %p Frontrunner
          %div.img-stats-container
            %div.leading-candidate-img
              %img{src: image_path("#{leader.candidate.slug}.png"), alt: ''}
            %div.leading-candidate-delegates
              %p.frontrunner-cd
                = leader.candidate.name
                - if leader.winner?
                  %span.winner ✓
              %p.frontrunner-num.when-future= format_percent_or_nil(leader.poll_percent)
              %p.frontrunner-unit.when-future Polling Average 
              %p.frontrunner-num.when-present.when-past= "#{format_int(leader.n_votes)}"
              -if party.id == "Dem"
                %p.frontrunner-unit.when-present.when-past SDEs *
              -else
                %p.frontrunner-unit.when-present.when-past Votes 
              %p.source.when-future!= "<a target=\"_blank\" href=\"//elections.huffingtonpost.com/pollster/2016-iowa-presidential-#{party.adjective.downcase}-caucus\">Source</a>"

  %p.source.sde.when-present.when-past= "*Iowa Democrats report State Delegate Equivalents (SDEs), predictions of who will attend the state-wide party convention."

  %div.tease-link.when-past
    %a{href: "/2016/primaries/#{next_race_day.id}", "target": "_blank"}= "See Results"
  %div.tease-link.when-present
    %a{href: "/2016/primaries/#{next_race_day.id}", "target": "_blank"}= "See Live Results"
  %div.tease-link.when-future
    %a{href: "/2016/primaries/#{next_race_day.id}", "target": "_blank"}= "See All Candidates"
  %script{src: '/2016/javascripts/pym.min.js'}
  %script
    var pymChild = new pym.Child();
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
