!!! 5
- preview = true
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic'}
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body
  %div.primary-splash-banner
    %div.header
      %div.line
      %div.hed
        -if preview
          %h1.main-hed= "HAPPENING TODAY: Iowa Caucus"
        -else
          %h1.main-hed= "HAPPENING NOW: Iowa Caucus"
      %div.line
    %div.flex-container
      %div.map-container
        %h5 COUNTIES REPORTING
        %div.map
          != map_svg('states/IA')
        %div.legend
          %div.container
            %div.finished
            %div
              %span#counties-val= "FINISHED"
          %div.container
            %div.unfinished
            %div
              %span#unreported-counties
              NOT FINISHED
        %div.tease-link
          %a{target: '_blank', href: "/2016/primaries/2016-02-01"}= "See Live Results"
      %div.parties-container
        -parties.each do |party|
          - party_abbrev = party.adjective == 'Democratic' ? "dem" : "gop"
          - race = races.find_by_party_and_state(party, cur_state)
          %div{class: "party-container #{party_abbrev} clearfix"}
            -if not preview
              -if party.adjective == 'Democratic'
                %div.leading-candidate-img
                  %img{src: image_path("#{leading_democrat.slug}.png"), alt: ''}
                %div.leading-candidate-delegates
                  %p.frontrunner-lbl="DEMOCRATIC FRONTRUNNER"
                  %p.frontrunner-cd= "#{leading_democrat.name}"
                  %p.frontrunner-num= "#{format_int(leading_democrat.n_delegates)} delegates"
              -else
                %div.leading-candidate-img
                  %img{src: image_path("#{leading_republican.slug}.png"), alt: ''}
                %div.leading-candidate-delegates
                  %p.frontrunner-lbl="REPUBLICAN FRONTRUNNER"
                  %p.frontrunner-cd= "#{leading_republican.name}"
                  %p.frontrunner-num= " #{format_int(leading_republican.n_delegates)} delegates"
            -else
              -if party.adjective == 'Democratic'
                %div.candidate-row-container.dem
                  %div.leading-candidate-img.preview
                    %img{src: image_path("democrats.svg"), alt: ''}
                  %div.leading-candidate-delegates.left.preview
                    %div.frontrunner-lbl
                      %span="DEMOCRATIC"
                      %span="CANDIDATES"
                      %span="Total Votes"
              -else
                %div.candidate-row-container.gop
                  %div.leading-candidate-img.preview
                    %img{src: image_path("republicans.svg"), alt: ''}
                  %div.leading-candidate-delegates.left.preview
                    %div.frontrunner-lbl
                      %span="REPUBLICAN"
                      %span="CANDIDATES"
                      %span="Total Votes"
            %div.candidate-position-listing
              - race.candidate_states.each_with_index do |cd_state, idx|
                - cd = cd_state.candidate
                - highlight_class = ((cd.name == leading_republican.name or cd.name == leading_democrat.name) and !preview) ? "leader" : ""
                - if (party_abbrev == 'gop' ) or (party_abbrev == 'dem')
                  %div.candidate{'data-candidate-id': cd.id}
                    %table{class: "#{highlight_class}"}
                      %tr
                        %td= cd.name
                        %td= format_int(cd_state.n_votes)

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
