!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results
    %link{rel: 'stylesheet', href: asset_path('right-rail.css')}
  %body.primary-right-rail
    %div.container
      - if current_race_day
        != render(partial: 'delegate-bars')
        %a{target: '_parent', href: "/2016/primaries/#{current_race_day.id}"} Live results
      - elsif next_race_day.id == '2016-02-01'
        - parties.each do |party|
          %h4= party.name
          - race = races.find_by_party_and_state(party, state_iowa[0])
          %table.t-pollster
            %thead
              %th img
              %th candidate
              %th pollster
            %tbody
            - race.candidate_states.each do |cd_state|
              - cd = cd_state.candidate
              - if cd_state.poll_percent
                %tr.dem-candidate
                  %td.cd-img img
                  %td.cd-name= cd.name
                  %td.pollster= "#{cd_state.poll_percent}%"
        -# != render(partial: 'dem-pollster-table')
        -# != render(partial: 'gop-pollster-table')
      - elsif next_race_day
        %a{target: '_parent', href: "/2016/primaries/#{next_race_day.id}"}= "Next race: #{next_race_day.id}"
    %script{src: '/2016/javascripts/pym.min.js'}
    %script
      var pymChild = new pym.Child();
