!!! 5
- dem_list = ['Clinton', 'Sanders', "O'Malley"]
- gop_list = ["Trump", "Christie", "Bush", "Cruz", "Paul", "Rubio", "Carson", "Huckabee", "Kasich", "Fiorina", "Santorum"]
- preview = !true
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %title Huffington Post 2016 Primary Results
  %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body
  %div.primary-splash-banner
    %div.header
      -if preview
        %h1= "HAPPENING TODAY: Iowa Caucus"
      -else
        %h1= "HAPPENING NOW: Iowa Caucus"
      %div.tease-link
        %a{href: "/2016/primaries/#{next_race_day.id}"}= "See live-updating results for the Caucus here."
        %div.arrow-right
    %div.flex-container
      %div.countdown-map-container
        %div.countdown-container
          -if preview
            %h3= "POLLS CLOSE IN"
          -else
            %h5= "POLLS CLOSED FOR"
          %table
            %tr#countdown
              %td.hours= "01"
              %td.minutes= "27"
              %td.seconds= "06"
            %tr
              %td= "HR"
              %td= "MIN"
              %td= "SEC"
        %div.map-container
          %span.counties-reporting= "TK COUNTIES REPORTING"
          %div.map
            != map_svg("states/IA")
          %span.footnote= "TK% PRECINCTS REPORTING"
      %div.parties-container
        -parties.each do |party|
          - party_abbrev = party.adjective == 'Democratic' ? "dem" : "gop"
          - race = races.find_by_party_and_state(party, cur_state)
          %div{class: "party-container #{party_abbrev} clearfix"}
            -if not preview
              -if party.adjective == 'Democratic'
                %div.leading-candidate-img
                  %img{src: image_path("#{leading_democrat.slug}.png"), alt: ''}
                %div.leading-candidate-delegates
                  %p.frontrunner-lbl="DEMOCRATIC FRONTRUNNER"
                  %p.frontrunner-cd= "#{leading_democrat.name}"
                  %p.frontrunner-num= "#{leading_democrat.n_delegates} delegates"
              -else
                %div.leading-candidate-img
                  %img{src: image_path("#{leading_republican.slug}.png"), alt: ''}
                %div.leading-candidate-delegates
                  %p.frontrunner-lbl="REPUBLICAN FRONTRUNNER"
                  %p.frontrunner-cd= "#{leading_republican.name}"
                  %p.frontrunner-num= " #{leading_republican.n_delegates} delegates"
            -else
              -if party.adjective == 'Democratic'
                %div.leading-candidate-img.preview
                  %img{src: image_path("democrats.svg"), alt: ''}
                %div.leading-candidate-delegates.left.preview
                  %p.frontrunner-lbl="DEMOCRATIC CANDIDATES"
              -else
                %div.leading-candidate-img.preview
                  %img{src: image_path("republicans.svg"), alt: ''}
                %div.leading-candidate-delegates.left.preview
                  %p.frontrunner-lbl="REPUBLICAN CANDIDATES"

            %div.left.candidate-position-lbl
              %p= "VOTES"
            %div.candidate-position-listing
              - race.candidate_states.each_with_index do |cd_state, idx|
                - cd = cd_state.candidate
                - highlight_class = ((cd.name == leading_republican.name or cd.name == leading_democrat.name) and !preview) ? "leader" : ""
                - if (party_abbrev == 'gop' and gop_list.include? cd.name) or (party_abbrev == 'dem' and dem_list.include? cd.name)
                  %div.candidate{'data-candidate-id': cd.id}
                    %table{class: "#{highlight_class}"}
                      %tr
                        %td= cd.name
                        %td= cd_state.n_votes
                  - if party_abbrev == 'gop' and race.candidate_states.count - 1 == idx
                    %div.candidate{'data-candidate-id': 99}
                      %table
                        %tr
                          %td.see-all{:colspan => 3}
                            %a{href:"/2016/primaries/#{next_race_day.id}"}= "All candidates"

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script{src: asset_path('splash.js')}
