!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results Splash
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-splash-banner
    .header
      .line
      .hed
        %h1.main-hed.when-present= "LIVE RESULTS: #{race_day.title}"
        %h1.main-hed.when-past= "RESULTS: #{race_day.title}"
        %h1.main-hed.when-future= "HAPPENING TONIGHT: #{race_day.title}"
      .line
    .flex-container
      -race_day.state_party_races.first[1].each do |party, race, _|
        .party-container{class: party.id.downcase}
          .candidate-row-container{class: party.id.downcase}
            .leading-candidate-img
              %img{src: image_path("#{party.name.downcase}.svg"), alt: ''}
            .leading-candidate-delegates.left
              .frontrunner-lbl
                %span= party.adjective.upcase
                %span CANDIDATES
                %span Total votes
          .candidate-position-listing{class: party.id.downcase}
            %table
              %tbody
                - race.candidate_races[0..2].each do |candidate_race|
                  - candidate = candidate_race.candidate
                  %tr.candidate{'data-candidate-id': candidate.id, class: "#{candidate_race.winner? ? 'winner' : ''} #{candidate_race.leader? ? 'leader' : ''}"}
                    %td.candidate-name= candidate.name
                    %td.n-votes.when-present.when-past= format_int(candidate_race.n_votes)
                    -if format_percent_or_nil(candidate_race.percent_vote) != 'N/A'
                      %td.n-votes-pct.when-present.when-past= "#{format_percent_or_nil(candidate_race.percent_vote)}%"
                    -else
                      %td.n-votes-pct.when-present.when-past= ""
          -if party.id == "GOP"
            .see-all-candidates
              %a{target: '_blank', href: "/2016/primaries/#{race_day.id}"} See all candidates

        .map-precincts-container{class: "#{party.id.downcase}"}
          .precincts.when-present.when-past
            -if party.id == "Dem"
              %span.precincts-val= "#{precinct_stats[:reporting_precincts_pct_str_dem]}"
            -else
              %span.precincts-val= "#{precinct_stats[:reporting_precincts_pct_str_gop]}"
            %span= " OF PRECINCTS REPORTING"
          .precincts.when-future
            %span= "Results coming 7:00 p.m. EST"
          .map-container.flex-container{class: "#{party.id.downcase}"}
            .map
              != map_svg("states/#{race.state_code}")
            .legend-and-status
              .race-status.when-present
                %button.refresh 0:30
              .legend
                .container{class: ((race.candidate_races.first.n_votes == 0) ? 'hidden' : '')}
                  .leading
                  %div
                    %span.name= "#{race.candidate_races.first.candidate.name}"
                    %span= " leads"
                .container.when-present.when-past
                  .trailing
                  %div
                    %span.name= "#{race.candidate_races.first.candidate.name}"
                    %span= " trails"
                .container
                  .no-results
                  %div
                    %span= "No results"
              %p.tease-link
                %a{target: '_blank', href: "/2016/primaries/#{race.race_day_id}##{race.party_id}-#{race.state_code}"} See results

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
