!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results Splash
    %link{rel: 'stylesheet', href: '/2016/stylesheets/proxima-nova-condensed.css'}
    %link{rel: 'stylesheet', href: asset_path('splash.css')}

%body{class: "race-day-#{race_day.when_race_day_happens}"}
  %div.primary-splash-banner
    .header
      .line
      .hed
        %h1.main-hed.when-present= "RESULTS: #{race_day.title}"
        %h1.main-hed.when-past= "LIVE RESULTS: #{race_day.title}"
        %h1.main-hed.when-future= "HAPPENING TONIGHT: #{race_day.title}"
      .line
    .flex-container
      .map-container
        %h5 COUNTIES REPORTING
        .map
          != map_svg('states/IA')
        .legend
          .container
            .finished
            %div
              %span#counties-val= "FINISHED"
          .container
            .unfinished
            %div
              %span#unreported-counties
              NOT FINISHED
        .tease-link
          %a{target: '_blank', href: "/2016/primaries/2016-02-01"} See Results
      .parties-container
        -race_day.state_party_races.first[1].each do |party, race, _|
          .party-container{class: party.id}
            .candidate-row-container{class: party.id}
              .leading-candidate-img
                %img{src: image_path("#{party.name.downcase}.svg"), alt: ''}
              .leading-candidate-delegates.left
                .frontrunner-lbl
                  %span= party.adjective.upcase
                  %span CANDIDATES
                  -if party.id == 'Dem'
                    %span.sde= "Total SDEs *"

                  -else
                    %span Total Votes
            .candidate-position-listing
              - race.candidate_races.each do |candidate_race|
                - candidate = candidate_race.candidate
                .candidate{'data-candidate-id': candidate.id, class: "#{candidate_race.winner? ? 'winner' : ''} #{candidate_race.leader? ? 'leader' : ''}"}
                  .candidate-name= candidate.name
                  .n-votes= format_int(candidate_race.n_votes)
            - if race.n_votes_is_really_n_sdes
              .sdefootnote= "*The Iowa Democratic Party doesn't report vote counts. It reports State Delegate Equivalents (SDEs), predictions of who will attend the state-wide party convention."

  %script{:type => "text/javascript", :src => "/2016/javascripts/pym.min.js"}
  %script
    new pym.Child();
  %script{src: asset_path('splash.js'), async: true}
  %script{src: asset_path('ga.js')}
  %script{src: asset_path('stats.js')}
