!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Huffington Post 2016 Primaries Results
    %link{rel: 'stylesheet', href: asset_path('primaries-right-rail.css')}
  %body.primary-right-rail
    - test_views = {:live => false, :preview => false, :iowa => true}
    - if test_views[:live]#next_race_day.id == current_race_day
      != render(partial: 'live-primaries-right-rail')
    - elsif test_views[:iowa]#next_race_day.id == '2016-02-01' #preview of Iowa before February 1st
      != render(partial: 'iowa-primaries-right-rail')
    - elsif test_views[:preview]#next_race_day #preview for next race, no race currently happening
      != render(partial: 'preview-primaries-right-rail')
      %a{target: '_parent', href: "/2016/primaries/#{next_race_day.id}"}= "Next race: #{next_race_day.id}"
  %script{src: '/2016/javascripts/pym.min.js'}
  %script
    var pymChild = new pym.Child();
