!!! 5
- preview = true
%html{lang: 'en'}
  %meta{charset: 'utf-8'}
  %title Huffington Post 2016 Primary Results
  %link{rel: 'stylesheet', href: asset_path('mobile-ad.css')}

%body
  %div.primary-mobile-ad
    %div.head
      -if preview
        %h3.main-hed= "HAPPENING TODAY: Iowa Caucus"
        %p= "No results yet"
      -else
        %h3.main-hed= "HAPPENING NOW: Iowa Caucus"
    %div.parties-container
      -parties.each do |party|
        - party_abbrev = party.adjective == 'Democratic' ? "dem" : "gop"
        - race = races.find_by_party_and_state(party, cur_state)
        - candidates = race.candidate_states.sort{|cd| cd.n_votes}
        - leader = candidates.first
        %div{class: "party-container #{party_abbrev} clearfix"}
          -if party.adjective == 'Democratic'
            %p.frontrunner-lbl="DEMOCRATIC FRONTRUNNER"
            %div.img-stats-container
              %div.leading-candidate-img
                %img{src: image_path("#{leading_democrat.slug}.png"), alt: ''}
              %div.leading-candidate-delegates
                %p.frontrunner-cd= "#{leader.candidate.name.upcase}"
                %p.frontrunner-num= "#{format_int(leader.n_votes)}"
                %p.frontrunner-unit Votes 
          -else
            %p.frontrunner-lbl="REPUBLICAN FRONTRUNNER"
            %div.img-stats-container
              %div.leading-candidate-img
                %img{src: image_path("#{leading_republican.slug}.png"), alt: ''}
              %div.leading-candidate-delegates
                %p.frontrunner-cd= "#{leader.candidate.name.upcase}"
                %p.frontrunner-num= " #{format_int(leader.n_votes)}"
                %p.frontrunner-unit Votes 

  %div.tease-link
    %a{href: "/2016/primaries/#{next_race_day.id}", "target": "_blank"}= "View The Latest Results"

  %script{src: '/2016/javascripts/pym.min.js'}
  %script{src: asset_path('ga.js')}
