-# Called with a RaceDayPageGenerator::HtmlContext
!!! 5
%html{lang: 'en'}
  %head
    %title= "Presidential Primaries: #{race_day.date.strftime('%B %-d, %Y')}"
    %link{rel: 'stylesheet', href: main_css_path}
    %script{src: main_js_path}
  %body.race-day
    = render(partial: 'topbar')

    %h1= "Presidential Primaries: #{race_day.date.strftime('%B %-d, %Y')}"

    = render(partial: 'calendar')

    %ul.parties
      - Party.all.each do |party|
        %li.party
          %h2= party.name

    %ul.states
      - states.each do |state|
        %li.state
          %h3= state.name
          %ul.state-parties
            - Party.all.each do |party|
              %li.state-party{'data-party-id': party.id}
                - race = Race.find_by_party_and_state(party, state)
                %h4= party.name
                - if !race
                  %p= #{state.name} #{party.name} won't pledge any delegates to a 2016 presidential nominee.
                - elsif !race.id
                  - if race.race_day == race_day
                    %p= "Come back #{race_day.date.strftime('%B %-d')} for live results"
                  - else
                    %p
                      This race will happen on
                      %a{href: "/2016/primaries/#{race.race_day.id}"}= race.race_day.date.strftime('%B %-d')
                - else
                  - is_this_page_date = race.race_day == race_day
                  %div{class: "race #{is_this_page_date ? 'race-this-page-date' : 'race-another-date'}"}
                    - if !is_this_page_date
                      %p= "This race happened on #{race.race_day.date.strftime('%B %-d')}"
                    %table.race
                      %thead
                        %tr
                          %th.candidate Candidate
                          %th.n-votes Votes
                          %th.n-delegates Delegates
                      %tbody
                        - race.candidate_races.each do |candidate_race|
                          - candidate = candidate_race.candidate
                          - candidate_state = candidate.candidate_state(state)
                          %tr
                            %td.candidate= candidate.name
                            %td.n-votes= candidate_race.n_votes
                            %td.n-delegates=candidate_state.n_delegates
                    %p= "#{race.n_precincts_reporting} of #{race.n_precincts_total} precincts reporting"


    %svg#main-map
