-# Called with a RaceDayPageGenerator::HtmlContext
#main
  %h2.project-hed
    %a{href: '/2016/primaries'} Presidential Primaries
  %h3.date-hed= race_date
  %h1= hed

  %p.intro-date Published Monday, Jan. TK, 9:00 AM EDT
  %p.intro-date Last updated Monday, Jan. TK, 10:00 AM EDT

  - if body
    %p.intro-copy= body

  %ul.states
    - race_day_states.each do |state|
      %li.state
        %ul.party-state
          - parties.each do |party|
            %li.party-state{'data-party-id': party.id, 'data-state-code': state.code}

              != render(partial: 'race', locals: { party: party, state: state })

!= render(partial: 'race-day-nav')

%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
