-# Called with a RaceDayPageGenerator::HtmlContext
#main
  %h1= hed
  %h3.date-hed= race_day.date.strftime('%B %-d, %Y')

  != render(partial: 'share-buttons')

  - if body
    %p.intro-copy= body

  .state-dropdown
    %button.dropdown-button{type: 'button'}
      Select a state
      %span.caret
    %ul.dropdown-menu
      - race_day.races.group_by(&:state_code).each do |state_code, races|
        - races.each_with_index do |race, i|
          %li{class: (i == 0 ? 'first' : 'second')}
            %a.dropdown-link{href: '#' + race.anchor}
              %span.state-name= race.state_name
              %span.party-name= race.title

  -# If there are two races in a party, display a summary
  - if race_day.races.group_by(&:party).values.any? { |a| a.length > 1 }
    != render(partial: 'race-day/delegate-summary', locals: { race_day: race_day })

    %h2 And Now, The Races

  %ul.states
    - race_day.state_party_races.each do |state, party_races|
      %li.state
        %ul.party-state
          - party_races.each do |party, race, other_races|
            %li.party-state{'data-party-id': party.id, 'data-state-code': state.code}
              - if !race.nil?
                != render(partial: 'race-day/race', locals: { race: race, is_today: true })
                - if other_races.length > 0
                  != render(partial: 'race-day/other-races-below-race', locals: { races: other_races })
              - elsif other_races.length > 0
                != render(partial: 'race-day/race', locals: { race: other_races.first, is_today: false })
              - else
                != render(partial: 'race-day/no-races', locals: { state: state, party: party })

!= render(partial: 'race-day/race-day-nav')

%script{src: asset_path('main.js'), async: true}
%script{src: asset_path('stats.js')}
%script{src: asset_path('ga.js')}
