-# Called with a RaceDayPageGenerator::HtmlContext
#main
  %h1= hed
  %h3.date-hed= race_day.date.strftime('%B %-d, %Y')

  != render(partial: 'share-buttons')

  - if body
    %p.intro-copy= body

  %ul.states
    - race_day.state_party_races.each do |state, party_races|
      %li.state
        %ul.party-state
          - party_races.each do |party, race, other_races|
            %li.party-state{'data-party-id': party.id, 'data-state-code': state.code}
              - if !race.nil?
                != render(partial: 'race-day/race', locals: { race: race })
                - if other_races.length > 0
                  != render(partial: 'race-day/other-races-below-race', locals: { races: other_races })
              - elsif other_races.length > 0
                != render(partial: 'race-day/other-races', locals: { races: other_races })
              - else
                != render(partial: 'race-day/no-races', locals: { state: state, party: party })

!= render(partial: 'race-day/race-day-nav')

%script{src: asset_path('main.js'), async: true}
%script{src: asset_path('stats.js')}
%script{src: asset_path('ga.js')}
