-# Called with a RaceDayPageGenerator::HtmlContext
#main
  %h1= hed
  %h3.date-hed= race_date

  - if body
    %p.intro-copy= body

  %ul.states
    - race_day_states.each do |state|
      %li.state
        %ul.party-state
          - parties.each do |party|
            %li.party-state{'data-party-id': party.id, 'data-state-code': state.code}

              != render(partial: 'race', locals: { party: party, state: state })

  %div.footnotes.footer
    %p Sources: The Associated Press, Huffpost Pollster
    -if updated_dt
      %p= "Page published #{pubbed_dt} and last updated #{updated_dt}."
    -else
      %p= "Page published #{pubbed_dt}."
    %p By Adam Hooper, Hilary Fung, Shane Shifflett, Nicky Forster and Alissa Scheller

!= render(partial: 'race-day-nav')

%script{src: asset_path('stats.js')}
%script{src: asset_path('main.js')}
